* { 
    margin: 0;
    padding: 0;
}

body {
    background-image: none 
}

.container-fluid {
    background-color: rgb(45, 124, 25);
}

body {
    background-color:#ffffff;
}
nav {
    width: 100%;
    height: 100px;
    background-color: #18790f;
}

ul {
    margin-left: 80px;
}

UL li {
    list-style: none;
    display:inline-block;
    float: left;
    line-height: 100px;
}

UL LI A {
    display:block ;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(14, 13, 13);
    padding: 0 20px;
 }

UL LI A:hover {
color: red;
}

.carousel-item {
    height:  800px;
    background-color: white;
    padding: 2em;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2em;
    color: #fff;
}

.fa {
    padding: 40px;
    font-size: 60px;
    width: 80px;
    text-align: center;
    text-decoration: none;
  }

.fa:hover {
    color: red;
  }
  import url("https://fonts.googleapis.com/css?family=Roboto:400");
 
  * {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
  }
  
  
  *:focus {
      outline: 0;
  }
  
  body {
      background: #c5d0d6; 
  }
  
  h3 {
      text-align: center;
  }
  
  .container {
      padding: 12px 24px 24px 24px;
      margin: 48px 12px;
      background: #E3F2FD;
      border-radius: 4px;
  }
  
  
  label {
      font-size: 0.85em;
      margin-left: 12px;
  }
  
  input[type=text],input[type=email], textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
  }
  
  
  input[type=text]:focus,input[type=email]:focus, textarea:focus {
      border: 1px solid rgb(33, 180, 33);
  }
  
  input[type=submit] {
      background: #64B5F6;
      margin: 0 auto;
      outline: 0;z
      color: white;
      border: 0;
      padding: 12px 24px;
      border-radius: 4px;
      transition: all ease-in-out 0.1s;
      position: relative;
      display: inline-block;
      text-align: center;
  }
  
  
  input[type=submit]:focus {
      background: #A5D6A7;
      color: whitesmoke;
  }
  
  
  input[type=submit]:hover {
      background: #2196F3;
  }
  
  
  .center {
      text-align: center;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; 
  }
  
  .row: {
    content: "";
    display: table;
    clear: both;
  }